@model UsuarioModel
@{
    ViewData["Title"] = "Confirmação apagar o usuário";
}
<div class="text-center">
    <h3>Realmente deseja apagar o contato(@Model.Nome)?</h3>
</div>

<a class="btn btn-info btn-block" role="button" asp-controller="Usuario" asp-action="Index">Cancelar exclusão</a>
<a class="btn btn-danger btn-block" role="button" asp-controller="Usuario" asp-route-id="@Model.Id" asp-action="Apagar">Confirmar exclusão</a>