@{
    ViewData["Title"] = "Página Inicial";
}


<div class="text-center" style="
    color: #fff;
    display:flex;
    align-items:center;
    flex-wrap:wrap;
    margin-top: 18rem;
    width:40%;
    justify-content: center;
    margin-left: 50%;
    transform:translateX(-50%)
">
    <h1 class="display-4" style="font-size: 80px; font-family: 'Rubik Vinyl', cursive; text-shadow: 0 0 0.2em #87F, 0 0 0.2em #87F,
        0 0 0.2em #87F;">Bem vindo!</h1>
    <p style="font-size: 20px; color: #fff; font-family: 'Rubik Vinyl', cursive; text-shadow: 0 0 0.2em #87F, 0 0 0.2em #87F,
        0 0 0.2em #87F;">Sistema de controle de Usuários e Contatos</p>
</div>
