@{
    Layout = "_layoutDeslogado";
    ViewData["Title"] = "Página Restrita";
}

<p style="
    background-image: url(../Imagens/backgroundGalaxy.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
">Você não tem permissão para acessar essa funcionalidade, <a asp-controller="Home" asp-action="Index">click aqui para voltar para home.</a></p>
